<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.orange.dao.FormatMapper" >
  <resultMap id="BaseResultMap" type="com.jd.orange.model.Format" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="fname" property="fname" jdbcType="VARCHAR" />
    <result column="fclass" property="fclass" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="stock" property="stock" jdbcType="DOUBLE" />
    <result column="sales" property="sales" jdbcType="DOUBLE" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="goods" property="goods" jdbcType="INTEGER" />
    <result column="fname_j" property="fnameJ" jdbcType="VARCHAR" />
    <result column="fclass_j" property="fclassJ" jdbcType="VARCHAR" />
    <result column="j_c" property="jC" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, fname, fclass, price, stock, sales, createtime, updatetime, goods, fname_j, fclass_j, 
    j_c
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_format
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- new -->
  <select id="formatList" parameterType="java.lang.Integer" resultType="com.jd.orange.model.Format">
    select
    id, fname, fclass, price, stock, sales, createtime, updatetime, goods, fname_j as fnameJ, fclass_j as fclassJ, j_c
    from t_format
    where goods = #{gid,jdbcType=INTEGER}
  </select>

  <select id="goodsShelfCondition" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT IFNULL(SUM(stock),0) FROM `t_format` WHERE goods = #{gid,jdbcType=INTEGER}
  </select>

  <select id="formatCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    SELECT count(1) FROM t_format WHERE goods = #{gid,jdbcType=INTEGER}
  </select>

  <!-- 查询规格及所属商品 -->
  <select id="formatDetail" parameterType="java.lang.Integer" resultType="com.jd.orange.model.Format">
    SELECT
    t_format.fname,
    t_format.fclass,
    t_format.price,
    t_format.stock,
    t_format.sales,
    t_format.goods,
    t_goods.`name` AS gname,
    t_goods.shelf,
    t_goods.freight,
    t_goods.pic1
    FROM
    t_format
    INNER JOIN t_goods ON t_format.goods = t_goods.id
    WHERE t_format.id = #{fid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_format
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jd.orange.model.Format" >
    insert into t_format (id, fname, fclass, 
      price, stock, sales, createtime, 
      updatetime, goods, fname_j, 
      fclass_j, j_c)
    values (#{id,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, #{fclass,jdbcType=VARCHAR}, 
      #{price,jdbcType=DOUBLE}, #{stock,jdbcType=DOUBLE}, #{sales,jdbcType=DOUBLE}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{goods,jdbcType=INTEGER}, #{fnameJ,jdbcType=VARCHAR}, 
      #{fclassJ,jdbcType=VARCHAR}, #{jC,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.orange.model.Format" >
    insert into t_format
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fname != null" >
        fname,
      </if>
      <if test="fclass != null" >
        fclass,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="sales != null" >
        sales,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="goods != null" >
        goods,
      </if>
      <if test="fnameJ != null" >
        fname_j,
      </if>
      <if test="fclassJ != null" >
        fclass_j,
      </if>
      <if test="jC != null" >
        j_c,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fname != null" >
        #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fclass != null" >
        #{fclass,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=DOUBLE},
      </if>
      <if test="sales != null" >
        #{sales,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="goods != null" >
        #{goods,jdbcType=INTEGER},
      </if>
      <if test="fnameJ != null" >
        #{fnameJ,jdbcType=VARCHAR},
      </if>
      <if test="fclassJ != null" >
        #{fclassJ,jdbcType=VARCHAR},
      </if>
      <if test="jC != null" >
        #{jC,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.orange.model.Format" >
    update t_format
    <set >
      <if test="fname != null" >
        fname = #{fname,jdbcType=VARCHAR},
      </if>
      <if test="fclass != null" >
        fclass = #{fclass,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=DOUBLE},
      </if>
      <if test="sales != null" >
        sales = #{sales,jdbcType=DOUBLE},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="goods != null" >
        goods = #{goods,jdbcType=INTEGER},
      </if>
      <if test="fnameJ != null" >
        fname_j = #{fnameJ,jdbcType=VARCHAR},
      </if>
      <if test="fclassJ != null" >
        fclass_j = #{fclassJ,jdbcType=VARCHAR},
      </if>
      <if test="jC != null" >
        j_c = #{jC,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.orange.model.Format" >
    update t_format
    set fname = #{fname,jdbcType=VARCHAR},
      fclass = #{fclass,jdbcType=VARCHAR},
      price = #{price,jdbcType=DOUBLE},
      stock = #{stock,jdbcType=DOUBLE},
      sales = #{sales,jdbcType=DOUBLE},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      goods = #{goods,jdbcType=INTEGER},
      fname_j = #{fnameJ,jdbcType=VARCHAR},
      fclass_j = #{fclassJ,jdbcType=VARCHAR},
      j_c = #{jC,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>