<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.orange.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.jd.orange.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="VARCHAR" />
    <result column="buyway" property="buyway" jdbcType="INTEGER" />
    <result column="shopstatus" property="shopstatus" jdbcType="INTEGER" />
    <result column="orderstatus" property="orderstatus" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="user" property="user" jdbcType="INTEGER" />
    <result column="j_c" property="jC" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sequence, buyway, shopstatus, orderstatus, createtime, updatetime, `user`, j_c
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jd.orange.model.Order" >
    insert into t_order (id, sequence, buyway, 
      shopstatus, orderstatus, createtime, 
      updatetime, `user`, j_c
      )
    values (#{id,jdbcType=INTEGER}, #{sequence,jdbcType=VARCHAR}, #{buyway,jdbcType=INTEGER}, 
      #{shopstatus,jdbcType=INTEGER}, #{orderstatus,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{user,jdbcType=INTEGER}, #{jC,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jd.orange.model.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="buyway != null" >
        buyway,
      </if>
      <if test="shopstatus != null" >
        shopstatus,
      </if>
      <if test="orderstatus != null" >
        orderstatus,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="user != null" >
        `user`,
      </if>
      <if test="jC != null" >
        j_c,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=VARCHAR},
      </if>
      <if test="buyway != null" >
        #{buyway,jdbcType=INTEGER},
      </if>
      <if test="shopstatus != null" >
        #{shopstatus,jdbcType=INTEGER},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="user != null" >
        #{user,jdbcType=INTEGER},
      </if>
      <if test="jC != null" >
        #{jC,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.orange.model.Order" >
    update t_order
    <set >
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=VARCHAR},
      </if>
      <if test="buyway != null" >
        buyway = #{buyway,jdbcType=INTEGER},
      </if>
      <if test="shopstatus != null" >
        shopstatus = #{shopstatus,jdbcType=INTEGER},
      </if>
      <if test="orderstatus != null" >
        orderstatus = #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="user != null" >
        `user` = #{user,jdbcType=INTEGER},
      </if>
      <if test="jC != null" >
        j_c = #{jC,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.orange.model.Order" >
    update t_order
    set sequence = #{sequence,jdbcType=VARCHAR},
      buyway = #{buyway,jdbcType=INTEGER},
      shopstatus = #{shopstatus,jdbcType=INTEGER},
      orderstatus = #{orderstatus,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      user = #{user,jdbcType=INTEGER},
      j_c = #{jC,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>