<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.orange.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.jd.orange.model.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sequence" property="sequence" jdbcType="VARCHAR" />
    <result column="buyway" property="buyway" jdbcType="INTEGER" />
    <result column="shopstatus" property="shopstatus" jdbcType="INTEGER" />
    <result column="orderstatus" property="orderstatus" jdbcType="INTEGER" />
    <result column="paytime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="goodsprice" property="goodsprice" jdbcType="DOUBLE" />
    <result column="freight" property="freight" jdbcType="DOUBLE" />
    <result column="otherprice" property="otherprice" jdbcType="DOUBLE" />
    <result column="scorecost" property="scorecost" jdbcType="DOUBLE" />
    <result column="allprice" property="allprice" jdbcType="DOUBLE" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="recipient" property="recipient" jdbcType="VARCHAR" />
    <result column="contact" property="contact" jdbcType="VARCHAR" />
    <result column="logistics" property="logistics" jdbcType="VARCHAR" />
    <result column="returndetail" property="returndetail" jdbcType="VARCHAR" />
    <result column="address_j" property="addressJ" jdbcType="VARCHAR" />
    <result column="recipient_j" property="recipientJ" jdbcType="VARCHAR" />
    <result column="logistics_j" property="logisticsJ" jdbcType="VARCHAR" />
    <result column="returndetail_j" property="returndetailJ" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="user" property="user" jdbcType="INTEGER" />
    <result column="j_c" property="jC" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sequence, buyway, shopstatus, orderstatus, paytime, goodsprice, freight, otherprice, 
    scorecost, allprice, address, recipient, contact, logistics, returndetail, address_j, 
    recipient_j, logistics_j, returndetail_j, createtime, updatetime, `user`, j_c
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- new -->
  <select id="orderAmount" resultType="java.lang.Integer">
    SELECT COUNT(id) FROM t_order
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jd.orange.model.Order" >
    insert into t_order (id, sequence, buyway, 
      shopstatus, orderstatus, paytime, 
      goodsprice, freight, otherprice, 
      scorecost, allprice, address, 
      recipient, contact, logistics, 
      returndetail, address_j, recipient_j, 
      logistics_j, returndetail_j, createtime, 
      updatetime, `user`, j_c
      )
    values (#{id,jdbcType=INTEGER}, #{sequence,jdbcType=VARCHAR}, #{buyway,jdbcType=INTEGER}, 
      #{shopstatus,jdbcType=INTEGER}, #{orderstatus,jdbcType=INTEGER}, #{paytime,jdbcType=TIMESTAMP}, 
      #{goodsprice,jdbcType=DOUBLE}, #{freight,jdbcType=DOUBLE}, #{otherprice,jdbcType=DOUBLE}, 
      #{scorecost,jdbcType=DOUBLE}, #{allprice,jdbcType=DOUBLE}, #{address,jdbcType=VARCHAR}, 
      #{recipient,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{logistics,jdbcType=VARCHAR}, 
      #{returndetail,jdbcType=VARCHAR}, #{addressJ,jdbcType=VARCHAR}, #{recipientJ,jdbcType=VARCHAR}, 
      #{logisticsJ,jdbcType=VARCHAR}, #{returndetailJ,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{user,jdbcType=INTEGER}, #{jC,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jd.orange.model.Order" >
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sequence != null" >
        sequence,
      </if>
      <if test="buyway != null" >
        buyway,
      </if>
      <if test="shopstatus != null" >
        shopstatus,
      </if>
      <if test="orderstatus != null" >
        orderstatus,
      </if>
      <if test="paytime != null" >
        paytime,
      </if>
      <if test="goodsprice != null" >
        goodsprice,
      </if>
      <if test="freight != null" >
        freight,
      </if>
      <if test="otherprice != null" >
        otherprice,
      </if>
      <if test="scorecost != null" >
        scorecost,
      </if>
      <if test="allprice != null" >
        allprice,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="recipient != null" >
        recipient,
      </if>
      <if test="contact != null" >
        contact,
      </if>
      <if test="logistics != null" >
        logistics,
      </if>
      <if test="returndetail != null" >
        returndetail,
      </if>
      <if test="addressJ != null" >
        address_j,
      </if>
      <if test="recipientJ != null" >
        recipient_j,
      </if>
      <if test="logisticsJ != null" >
        logistics_j,
      </if>
      <if test="returndetailJ != null" >
        returndetail_j,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="user != null" >
        `user`,
      </if>
      <if test="jC != null" >
        j_c,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sequence != null" >
        #{sequence,jdbcType=VARCHAR},
      </if>
      <if test="buyway != null" >
        #{buyway,jdbcType=INTEGER},
      </if>
      <if test="shopstatus != null" >
        #{shopstatus,jdbcType=INTEGER},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsprice != null" >
        #{goodsprice,jdbcType=DOUBLE},
      </if>
      <if test="freight != null" >
        #{freight,jdbcType=DOUBLE},
      </if>
      <if test="otherprice != null" >
        #{otherprice,jdbcType=DOUBLE},
      </if>
      <if test="scorecost != null" >
        #{scorecost,jdbcType=DOUBLE},
      </if>
      <if test="allprice != null" >
        #{allprice,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null" >
        #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="logistics != null" >
        #{logistics,jdbcType=VARCHAR},
      </if>
      <if test="returndetail != null" >
        #{returndetail,jdbcType=VARCHAR},
      </if>
      <if test="addressJ != null" >
        #{addressJ,jdbcType=VARCHAR},
      </if>
      <if test="recipientJ != null" >
        #{recipientJ,jdbcType=VARCHAR},
      </if>
      <if test="logisticsJ != null" >
        #{logisticsJ,jdbcType=VARCHAR},
      </if>
      <if test="returndetailJ != null" >
        #{returndetailJ,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="user != null" >
        #{user,jdbcType=INTEGER},
      </if>
      <if test="jC != null" >
        #{jC,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.orange.model.Order" >
    update t_order
    <set >
      <if test="sequence != null" >
        sequence = #{sequence,jdbcType=VARCHAR},
      </if>
      <if test="buyway != null" >
        buyway = #{buyway,jdbcType=INTEGER},
      </if>
      <if test="shopstatus != null" >
        shopstatus = #{shopstatus,jdbcType=INTEGER},
      </if>
      <if test="orderstatus != null" >
        orderstatus = #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="paytime != null" >
        paytime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsprice != null" >
        goodsprice = #{goodsprice,jdbcType=DOUBLE},
      </if>
      <if test="freight != null" >
        freight = #{freight,jdbcType=DOUBLE},
      </if>
      <if test="otherprice != null" >
        otherprice = #{otherprice,jdbcType=DOUBLE},
      </if>
      <if test="scorecost != null" >
        scorecost = #{scorecost,jdbcType=DOUBLE},
      </if>
      <if test="allprice != null" >
        allprice = #{allprice,jdbcType=DOUBLE},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="recipient != null" >
        recipient = #{recipient,jdbcType=VARCHAR},
      </if>
      <if test="contact != null" >
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="logistics != null" >
        logistics = #{logistics,jdbcType=VARCHAR},
      </if>
      <if test="returndetail != null" >
        returndetail = #{returndetail,jdbcType=VARCHAR},
      </if>
      <if test="addressJ != null" >
        address_j = #{addressJ,jdbcType=VARCHAR},
      </if>
      <if test="recipientJ != null" >
        recipient_j = #{recipientJ,jdbcType=VARCHAR},
      </if>
      <if test="logisticsJ != null" >
        logistics_j = #{logisticsJ,jdbcType=VARCHAR},
      </if>
      <if test="returndetailJ != null" >
        returndetail_j = #{returndetailJ,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="user != null" >
        `user` = #{user,jdbcType=INTEGER},
      </if>
      <if test="jC != null" >
        j_c = #{jC,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.orange.model.Order" >
    update t_order
    set sequence = #{sequence,jdbcType=VARCHAR},
      buyway = #{buyway,jdbcType=INTEGER},
      shopstatus = #{shopstatus,jdbcType=INTEGER},
      orderstatus = #{orderstatus,jdbcType=INTEGER},
      paytime = #{paytime,jdbcType=TIMESTAMP},
      goodsprice = #{goodsprice,jdbcType=DOUBLE},
      freight = #{freight,jdbcType=DOUBLE},
      otherprice = #{otherprice,jdbcType=DOUBLE},
      scorecost = #{scorecost,jdbcType=DOUBLE},
      allprice = #{allprice,jdbcType=DOUBLE},
      address = #{address,jdbcType=VARCHAR},
      recipient = #{recipient,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      logistics = #{logistics,jdbcType=VARCHAR},
      returndetail = #{returndetail,jdbcType=VARCHAR},
      address_j = #{addressJ,jdbcType=VARCHAR},
      recipient_j = #{recipientJ,jdbcType=VARCHAR},
      logistics_j = #{logisticsJ,jdbcType=VARCHAR},
      returndetail_j = #{returndetailJ,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP},
      `user` = #{user,jdbcType=INTEGER},
      j_c = #{jC,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>