<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.orange.dao.PartMapper" >
  <resultMap id="BaseResultMap" type="com.jd.orange.model.Part" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="belong" property="belong" jdbcType="INTEGER" />
    <result column="name_j" property="nameJ" jdbcType="VARCHAR" />
    <result column="j_c" property="jC" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, `name`, `level`, priority, belong, name_j as nameJ, j_c as jC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_part
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 查询全部父分类 -->
  <select id="getFatherParts" resultType="com.jd.orange.model.Part">
    select
      id, `name`, `level`, priority, belong, name_j as nameJ
    from t_part
    where level = 0
  </select>
  <!-- 查询父分类下子分类 -->
  <select id="getChildPart" resultType="com.jd.orange.model.Part">
    SELECT
      id, `name`, `level`, priority, belong, name_j as nameJ
    FROM t_part
    WHERE belong = #{belong,jdbcType=INTEGER}
  </select>
  <!-- 分类列表(分页) -->
  <!--<select id="partsList" resultType="com.jd.orange.model.Part">-->
    <!--SELECT-->
      <!--id, `name`, `level`, priority, belong, name_j as nameJ-->
    <!--FROM t_part-->
    <!--ORDER BY `level` DESC , priority DESC-->
  <!--</select>-->
  <select id="partsList" resultType="com.jd.orange.model.Part">
    SELECT
    a.id,
    a.`name`,
    a.name_j as nameJ,
    a.`level`,
    a.priority,
    a.belong,
    b.`name` as fname
    FROM
    t_part as a
    LEFT JOIN t_part as b ON a.belong = b.id
    <where>
      <if test="key!=null">
        a.`name` LIKE CONCAT('%',#{key},'%')
        OR
        nameJ LIKE CONCAT('%',#{key},'%')
      </if>
    </where>
    ORDER BY `level` ASC , priority DESC
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_part
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jd.orange.model.Part" >
    insert into t_part (id, `name`, `level`,
      priority, belong, name_j, 
      j_c)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, 
      #{priority,jdbcType=INTEGER}, #{belong,jdbcType=INTEGER}, #{nameJ,jdbcType=VARCHAR}, 
      #{jC,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.orange.model.Part" >
    insert into t_part
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="level != null" >
        `level`,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="belong != null" >
        belong,
      </if>
      <if test="nameJ != null" >
        name_j,
      </if>
      <if test="jC != null" >
        j_c,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="belong != null" >
        #{belong,jdbcType=INTEGER},
      </if>
      <if test="nameJ != null" >
        #{nameJ,jdbcType=VARCHAR},
      </if>
      <if test="jC != null" >
        #{jC,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.orange.model.Part" >
    update t_part
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        `level` = #{level,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="belong != null" >
        belong = #{belong,jdbcType=INTEGER},
      </if>
      <if test="nameJ != null" >
        name_j = #{nameJ,jdbcType=VARCHAR},
      </if>
      <if test="jC != null" >
        j_c = #{jC,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.orange.model.Part" >
    update t_part
    set `name` = #{name,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      belong = #{belong,jdbcType=INTEGER},
      name_j = #{nameJ,jdbcType=VARCHAR},
      j_c = #{jC,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>