<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.orange.dao.PictureMapper" >
  <resultMap id="BaseResultMap" type="com.jd.orange.model.Picture" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="route" property="route" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="pictype" property="pictype" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="j_c" property="jC" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, route, filename, pictype, createtime, j_c
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_picture
    where id = #{id,jdbcType=INTEGER}
  </select>

  <!-- new -->
  <!-- 查询图片集 -->
  <select id="getPictureList" resultType="com.jd.orange.model.Picture" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from t_picture
    where pictype = #{info,jdbcType=VARCHAR}
  </select>

  <select id="getOtherPicCount" resultType="java.lang.Integer">
    SELECT count(1) from t_picture WHERE pictype="other"
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_picture
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByType" parameterType="java.lang.String" >
    DELETE FROM `t_picture` WHERE pictype = #{type,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="com.jd.orange.model.Picture" >
    insert into t_picture (id, route, filename, 
      pictype, createtime, j_c
      )
    values (#{id,jdbcType=INTEGER}, #{route,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR}, 
      #{pictype,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{jC,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jd.orange.model.Picture" useGeneratedKeys="true" keyProperty="id" >
    insert into t_picture
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="route != null" >
        route,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="pictype != null" >
        pictype,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="jC != null" >
        j_c,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="route != null" >
        #{route,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="pictype != null" >
        #{pictype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="jC != null" >
        #{jC,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.orange.model.Picture" >
    update t_picture
    <set >
      <if test="route != null" >
        route = #{route,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="pictype != null" >
        pictype = #{pictype,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="jC != null" >
        j_c = #{jC,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.orange.model.Picture" >
    update t_picture
    set route = #{route,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      pictype = #{pictype,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      j_c = #{jC,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>